<config xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <ip>
	  <access-list>
	    <extended xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-acl">
		  <name>{{ name }}</name>
		  {%- for entry in entries %}
		  <access-list-seq-rule>
		    <sequence>{{ loop.index*10 }}</sequence>
		    <ace-rule>
			  <action>{{ entry.action }}</action>
			  <protocol>{{ entry.proto }}</protocol>
			  {%- if entry.src_addr == "any" %}
			    <any/>
			  {%- else %}
			    <ipv4-address>{{ entry.src_addr }}</ipv4-address>
			    <mask>{{ entry.src_mask }}</mask>
			  {%- endif %}
			  {%- if entry.dst_addr == "any" %}
			    <dst-any/>
			  {%- else %}
			    <dest-ipv4-address>{{ entry.dst_addr }}</dest-ipv4-address>
			    <dest-mask>{{ entry.dst_mask }}</dest-mask>
			  {%- endif %}
			  {%- if entry.port %}
			    <dst-eq>{{ entry.port }}</dst-eq>
			  {%- endif %}
			  {%- if entry.range %}
			  <dst-range1>{{ entry.range[0] }}</dst-range1>
	          <dst-range2>{{ entry.range[1] }}</dst-range2>
			  {%- endif %}
		    </ace-rule>
		  </access-list-seq-rule>
		  {%- endfor %}
	    </extended>
	  </access-list>
    </ip>
  </native>
</config>
